/* CSS FILE: 
            The CSS file changes the color, font, and layout of the contents in the HTML file. 
*/

/* INTRINSIC AND EXTRINSIC SECTION BLOCK GRID LAYOUT*/
.grid-blocks{
  display: grid;
  grid-template-columns: auto auto;
  color: black;
  grid-gap: 10px;
  
}
/* INTRINSIC AND EXTRINSIC SECTION LAYOUT*/
.grid-Exmuscle, .grid-Intmuscle {
  text-align: left;
  border-radius: 12px;
  border: 2px solid black;
  padding-left:3%;
  padding-top:3%;
  padding-bottom:3%;
  background-color: #E49273;
  color: black;
  margin: 5px;
}
/*EXTRINSIC SECTION COLOR*/
.grid-Exmuscle {
  background-color: #FBD1B7;
 
}
/* INTRINSIC SECTION COLOR*/
.grid-Intmuscle {
  background-color: #D4E2D4;
  
}

/*SAVED CONFIGURATION SECTION LAYOUT */
.SavedConfig {
  background-color: #9DAB86;
  color: black;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 12px;
}
.slidecontainer {
  width: 95%;
}

/*SLIDER LAYOUT */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #DF7861;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

/* SAVED CONFIGURATION BUTTONS*/
.UniqueButton {
  background-color: #D4E2D4;
  border: none;
  color: black;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #000000;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 
}

/*RESET & LOGOUT BUTTON */
.bottomButtons {
  background-color: #FBD1B7;
  border: none;
  color: black;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #000000;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 
}
